<div class="main-container">
  <header>
    <nav class="nav-bar-left-side">
      <mat-icon>home /</mat-icon>
      <span>Projects /</span>
      <span>Project List /</span>
      <span>Project example /</span>
      <span>General Info</span>
    </nav>
    <nav class="nav-bar-right-side">
      <mat-icon>search</mat-icon>
      <mat-icon>notifications</mat-icon>
      <div class="user-avatar-container">
        <p>IP</p>
      </div>
      <span>|</span>
      <span>Solid Code</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </nav>
  </header>
  <section>
    <router-outlet></router-outlet>
  </section>
</div>
