<nav>
  <img class="logo" routerLink="/home" src="https://www.spotmanager.net/en/img/logo_peque_blanco.svg" alt="Spot Logo">
  <figure routerLink="/dashboard" routerLinkActive="primary-is-active">
    <mat-icon class="mat-icon-size">bookmark</mat-icon>
    <figcaption>Dashbord</figcaption>
  </figure>
  <figure routerLink="/projects" routerLinkActive="primary-is-active">
    <mat-icon class="mat-icon-size">share</mat-icon>
    <figcaption>Projects</figcaption>
  </figure>
  <figure routerLink="/strategy" routerLinkActive="primary-is-active">
    <mat-icon class="mat-icon-size">insert_chart</mat-icon>
    <figcaption>Strategy</figcaption>
  </figure>
  <figure routerLink="/global" routerLinkActive="primary-is-active">
    <mat-icon class="mat-icon-size">blur_circular</mat-icon>
    <figcaption>Global</figcaption>
  </figure>
</nav>
